body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('../imgs/fusta.jpg') no-repeat center center/cover;
}
#loginForm {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#loginForm h1 {
    margin-bottom: 20px;
    font-family: 'Brush Script MT', cursive;
    font-size: 28px;
}
#loginForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#loginForm button {
    width: 100%;
    padding: 10px;
    background-color: #d0021b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#loginForm button:hover {
    background-color: #a00116;
}