body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("../imgs/fusta.jpg");}
.piano {
    display: flex;
    justify-content: center;
    margin: 20px;
    background: #222020;
    border-radius: 20px;
    padding-bottom: 30px;
}
.key {
    width: 40px;
    height: 180px;
    margin: 2px;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
}
.white {
    background: white;
}
.black {
    background: black;
    color: white;
    height: 100px;
    margin-left: -20px;
    margin-right: -20px;
    z-index: 2;
    position: relative;
}
.results {
    background: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
}

.button {
    background: red;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 10px;
}

.lyric {
    color: red;
    text-decoration: none;
}

#partitures-container{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.result-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
}

.result-item p a {
    display: flex;

    white-space: pre-line;
}
.cercar{
    margin-bottom: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    text-align: left;
}

.close-modal {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#video-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.video-player {
    border: 1px solid #ccc;
    border-radius: 5px;
}